In [1]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
birds = pd.read_csv('C:/Users/LAB4-StudentPC27/Desktop/ITD-3C_ICAL/datasets/penguins.csv')

In [3]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [4]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    int64
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
dtypes: float64(4), int64(2), object(3)
memory usage: 24.3+ KB

In [5]:
birds.dtypes

rowid                  int64
species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
year                   int64
dtype: object

In [6]:
birds['rowid'] = birds['rowid'].astype('category')

In [7]:
birds['species'].value_counts()

species
Adelie       152
Gentoo       124
Chinstrap     68
Name: count, dtype: int64

In [8]:
birds['island'].value_counts()

island
Biscoe       168
Dream        124
Torgersen     52
Name: count, dtype: int64

In [9]:
birds['species'] == " Adelie"

0      False
1      False
2      False
3      False
4      False
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [10]:
birds['species'] == 'Adelie'

0       True
1       True
2       True
3       True
4       True
       ...
339    False
340    False
341    False
342    False
343    False
Name: species, Length: 344, dtype: bool

In [11]:
birds[(birds['species'] == 'Adelie')].count()

rowid                152
species              152
island               152
bill_length_mm       151
bill_depth_mm        151
flipper_length_mm    151
body_mass_g          151
sex                  146
year                 152
dtype: int64

In [12]:
birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
20,21,Adelie,Biscoe,37.8,18.3,174.0,3400.0,female,2007
21,22,Adelie,Biscoe,37.7,18.7,180.0,3600.0,male,2007
22,23,Adelie,Biscoe,35.9,19.2,189.0,3800.0,female,2007
23,24,Adelie,Biscoe,38.2,18.1,185.0,3950.0,male,2007
24,25,Adelie,Biscoe,38.8,17.2,180.0,3800.0,male,2007
25,26,Adelie,Biscoe,35.3,18.9,187.0,3800.0,female,2007
26,27,Adelie,Biscoe,40.6,18.6,183.0,3550.0,male,2007
27,28,Adelie,Biscoe,40.5,17.9,187.0,3200.0,female,2007
28,29,Adelie,Biscoe,37.9,18.6,172.0,3150.0,female,2007
29,30,Adelie,Biscoe,40.5,18.9,180.0,3950.0,male,2007
50,51,Adelie,Biscoe,39.6,17.7,186.0,3500.0,female,2008
51,52,Adelie,Biscoe,40.1,18.9,188.0,4300.0,male,2008
52,53,Adelie,Biscoe,35.0,17.9,190.0,3450.0,female,2008
53,54,Adelie,Biscoe,42.0,19.5,200.0,4050.0,male,2008
54,55,Adelie,Biscoe,34.5,18.1,187.0,2900.0,female,2008
55,56,Adelie,Biscoe,41.4,18.6,191.0,3700.0,male,2008
56,57,Adelie,Biscoe,39.0,17.5,186.0,3550.0,female,2008
57,58,Adelie,Biscoe,40.6,18.8,193.0,3800.0,male,2008
58,59,Adelie,Biscoe,36.5,16.6,181.0,2850.0,female,2008
59,60,Adelie,Biscoe,37.6,19.1,194.0,3750.0,male,2008
60,61,Adelie,Biscoe,35.7,16.9,185.0,3150.0,female,2008
61,62,Adelie,Biscoe,41.3,21.1,195.0,4400.0,male,2008
62,63,Adelie,Biscoe,37.6,17.0,185.0,3600.0,female,2008
63,64,Adelie,Biscoe,41.1,18.2,192.0,4050.0,male,2008
64,65,Adelie,Biscoe,36.4,17.1,184.0,2850.0,female,2008
65,66,Adelie,Biscoe,41.6,18.0,192.0,3950.0,male,2008
66,67,Adelie,Biscoe,35.5,16.2,195.0,3350.0,female,2008
67,68,Adelie,Biscoe,41.1,19.1,188.0,4100.0,male,2008
100,101,Adelie,Biscoe,35.0,17.9,192.0,3725.0,female,2009
101,102,Adelie,Biscoe,41.0,20.0,203.0,4725.0,male,2009
102,103,Adelie,Biscoe,37.7,16.0,183.0,3075.0,female,2009
103,104,Adelie,Biscoe,37.8,20.0,190.0,4250.0,male,2009
104,105,Adelie,Biscoe,37.9,18.6,193.0,2925.0,female,2009
105,106,Adelie,Biscoe,39.7,18.9,184.0,3550.0,male,2009
106,107,Adelie,Biscoe,38.6,17.2,199.0,3750.0,female,2009
107,108,Adelie,Biscoe,38.2,20.0,190.0,3900.0,male,2009
108,109,Adelie,Biscoe,38.1,17.0,181.0,3175.0,female,2009
109,110,Adelie,Biscoe,43.2,19.0,197.0,4775.0,male,2009
110,111,Adelie,Biscoe,38.1,16.5,198.0,3825.0,female,2009
111,112,Adelie,Biscoe,45.6,20.3,191.0,4600.0,male,2009
112,113,Adelie,Biscoe,39.7,17.7,193.0,3200.0,female,2009
113,114,Adelie,Biscoe,42.2,19.5,197.0,4275.0,male,2009
114,115,Adelie,Biscoe,39.6,20.7,191.0,3900.0,female,2009
115,116,Adelie,Biscoe,42.7,18.3,196.0,4075.0,male,2009

In [13]:
birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')].count()

rowid                44
species              44
island               44
bill_length_mm       44
bill_depth_mm        44
flipper_length_mm    44
body_mass_g          44
sex                  44
year                 44
dtype: int64

In [14]:
birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,31,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,32,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,33,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,34,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,35,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
35,36,Adelie,Dream,39.2,21.1,196.0,4150.0,male,2007
36,37,Adelie,Dream,38.8,20.0,190.0,3950.0,male,2007
37,38,Adelie,Dream,42.2,18.5,180.0,3550.0,female,2007
38,39,Adelie,Dream,37.6,19.3,181.0,3300.0,female,2007
39,40,Adelie,Dream,39.8,19.1,184.0,4650.0,male,2007
40,41,Adelie,Dream,36.5,18.0,182.0,3150.0,female,2007
41,42,Adelie,Dream,40.8,18.4,195.0,3900.0,male,2007
42,43,Adelie,Dream,36.0,18.5,186.0,3100.0,female,2007
43,44,Adelie,Dream,44.1,19.7,196.0,4400.0,male,2007
44,45,Adelie,Dream,37.0,16.9,185.0,3000.0,female,2007
45,46,Adelie,Dream,39.6,18.8,190.0,4600.0,male,2007
46,47,Adelie,Dream,41.1,19.0,182.0,3425.0,male,2007
47,48,Adelie,Dream,37.5,18.9,179.0,2975.0,NaN,2007
48,49,Adelie,Dream,36.0,17.9,190.0,3450.0,female,2007
49,50,Adelie,Dream,42.3,21.2,191.0,4150.0,male,2007
84,85,Adelie,Dream,37.3,17.8,191.0,3350.0,female,2008
85,86,Adelie,Dream,41.3,20.3,194.0,3550.0,male,2008
86,87,Adelie,Dream,36.3,19.5,190.0,3800.0,male,2008
87,88,Adelie,Dream,36.9,18.6,189.0,3500.0,female,2008
88,89,Adelie,Dream,38.3,19.2,189.0,3950.0,male,2008
89,90,Adelie,Dream,38.9,18.8,190.0,3600.0,female,2008
90,91,Adelie,Dream,35.7,18.0,202.0,3550.0,female,2008
91,92,Adelie,Dream,41.1,18.1,205.0,4300.0,male,2008
92,93,Adelie,Dream,34.0,17.1,185.0,3400.0,female,2008
93,94,Adelie,Dream,39.6,18.1,186.0,4450.0,male,2008
94,95,Adelie,Dream,36.2,17.3,187.0,3300.0,female,2008
95,96,Adelie,Dream,40.8,18.9,208.0,4300.0,male,2008
96,97,Adelie,Dream,38.1,18.6,190.0,3700.0,female,2008
97,98,Adelie,Dream,40.3,18.5,196.0,4350.0,male,2008
98,99,Adelie,Dream,33.1,16.1,178.0,2900.0,female,2008
99,100,Adelie,Dream,43.2,18.5,192.0,4100.0,male,2008
132,133,Adelie,Dream,36.8,18.5,193.0,3500.0,female,2009
133,134,Adelie,Dream,37.5,18.5,199.0,4475.0,male,2009
134,135,Adelie,Dream,38.1,17.6,187.0,3425.0,female,2009
135,136,Adelie,Dream,41.1,17.5,190.0,3900.0,male,2009
136,137,Adelie,Dream,35.6,17.5,191.0,3175.0,female,2009
137,138,Adelie,Dream,40.2,20.1,200.0,3975.0,male,2009
138,139,Adelie,Dream,37.0,16.5,185.0,3400.0,female,2009
139,140,Adelie,Dream,39.7,17.9,193.0,4250.0,male,2009
140,141,Adelie,Dream,40.2,17.1,193.0,3400.0,female,2009
141,142,Adelie,Dream,40.6,17.2,187.0,3475.0,male,2009
142,143,Adelie,Dream,32.1,15.5,188.0,3050.0,female,2009
143,144,Adelie,Dream,40.7,17.0,190.0,3725.0,male,2009
144,145,Adelie,Dream,37.3,16.8,192.0,3000.0,female,2009
145,146,Adelie,Dream,39.0,18.7,185.0,3650.0,male,2009
146,147,Adelie,Dream,39.2,18.6,190.0,4250.0,male,2009
147,148,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,149,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,150,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,151,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,152,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [15]:
birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')].count()

rowid                56
species              56
island               56
bill_length_mm       56
bill_depth_mm        56
flipper_length_mm    56
body_mass_g          56
sex                  55
year                 56
dtype: int64

In [16]:
birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')]

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
5,6,Adelie,Torgersen,39.3,20.6,190.0,3650.0,male,2007
6,7,Adelie,Torgersen,38.9,17.8,181.0,3625.0,female,2007
7,8,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
8,9,Adelie,Torgersen,34.1,18.1,193.0,3475.0,NaN,2007
9,10,Adelie,Torgersen,42.0,20.2,190.0,4250.0,NaN,2007
10,11,Adelie,Torgersen,37.8,17.1,186.0,3300.0,NaN,2007
11,12,Adelie,Torgersen,37.8,17.3,180.0,3700.0,NaN,2007
12,13,Adelie,Torgersen,41.1,17.6,182.0,3200.0,female,2007
13,14,Adelie,Torgersen,38.6,21.2,191.0,3800.0,male,2007
14,15,Adelie,Torgersen,34.6,21.1,198.0,4400.0,male,2007
15,16,Adelie,Torgersen,36.6,17.8,185.0,3700.0,female,2007
16,17,Adelie,Torgersen,38.7,19.0,195.0,3450.0,female,2007
17,18,Adelie,Torgersen,42.5,20.7,197.0,4500.0,male,2007
18,19,Adelie,Torgersen,34.4,18.4,184.0,3325.0,female,2007
19,20,Adelie,Torgersen,46.0,21.5,194.0,4200.0,male,2007
68,69,Adelie,Torgersen,35.9,16.6,190.0,3050.0,female,2008
69,70,Adelie,Torgersen,41.8,19.4,198.0,4450.0,male,2008
70,71,Adelie,Torgersen,33.5,19.0,190.0,3600.0,female,2008
71,72,Adelie,Torgersen,39.7,18.4,190.0,3900.0,male,2008
72,73,Adelie,Torgersen,39.6,17.2,196.0,3550.0,female,2008
73,74,Adelie,Torgersen,45.8,18.9,197.0,4150.0,male,2008
74,75,Adelie,Torgersen,35.5,17.5,190.0,3700.0,female,2008
75,76,Adelie,Torgersen,42.8,18.5,195.0,4250.0,male,2008
76,77,Adelie,Torgersen,40.9,16.8,191.0,3700.0,female,2008
77,78,Adelie,Torgersen,37.2,19.4,184.0,3900.0,male,2008
78,79,Adelie,Torgersen,36.2,16.1,187.0,3550.0,female,2008
79,80,Adelie,Torgersen,42.1,19.1,195.0,4000.0,male,2008
80,81,Adelie,Torgersen,34.6,17.2,189.0,3200.0,female,2008
81,82,Adelie,Torgersen,42.9,17.6,196.0,4700.0,male,2008
82,83,Adelie,Torgersen,36.7,18.8,187.0,3800.0,female,2008
83,84,Adelie,Torgersen,35.1,19.4,193.0,4200.0,male,2008
116,117,Adelie,Torgersen,38.6,17.0,188.0,2900.0,female,2009
117,118,Adelie,Torgersen,37.3,20.5,199.0,3775.0,male,2009
118,119,Adelie,Torgersen,35.7,17.0,189.0,3350.0,female,2009
119,120,Adelie,Torgersen,41.1,18.6,189.0,3325.0,male,2009
120,121,Adelie,Torgersen,36.2,17.2,187.0,3150.0,female,2009
121,122,Adelie,Torgersen,37.7,19.8,198.0,3500.0,male,2009
122,123,Adelie,Torgersen,40.2,17.0,176.0,3450.0,female,2009
123,124,Adelie,Torgersen,41.4,18.5,202.0,3875.0,male,2009
124,125,Adelie,Torgersen,35.2,15.9,186.0,3050.0,female,2009
125,126,Adelie,Torgersen,40.6,19.0,199.0,4000.0,male,2009
126,127,Adelie,Torgersen,38.8,17.6,191.0,3275.0,female,2009
127,128,Adelie,Torgersen,41.5,18.3,195.0,4300.0,male,2009
128,129,Adelie,Torgersen,39.0,17.1,191.0,3050.0,female,2009
129,130,Adelie,Torgersen,44.1,18.0,210.0,4000.0,male,2009
130,131,Adelie,Torgersen,38.5,17.9,190.0,3325.0,female,2009
131,132,Adelie,Torgersen,43.1,19.2,197.0,3500.0,male,2009

In [17]:
birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')].count()

rowid                52
species              52
island               52
bill_length_mm       51
bill_depth_mm        51
flipper_length_mm    51
body_mass_g          51
sex                  47
year                 52
dtype: int64

In [18]:
birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Biscoe')].count()

rowid                124
species              124
island               124
bill_length_mm       123
bill_depth_mm        123
flipper_length_mm    123
body_mass_g          123
sex                  119
year                 124
dtype: int64

In [19]:
birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Dream')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [20]:
birds[(birds['species'] == 'Gentoo') & (birds['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [21]:
birds[(birds['species'] == 'Chinstrap') & (birds['island'] == 'Bicoe')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [22]:
birds[(birds['species'] == 'Chinstrap') & (birds['island'] == 'Dream')].count()

rowid                68
species              68
island               68
bill_length_mm       68
bill_depth_mm        68
flipper_length_mm    68
body_mass_g          68
sex                  68
year                 68
dtype: int64

In [23]:
birds[(birds['species'] == 'Chinstrap') & (birds['island'] == 'Torgersen')].count()

rowid                0
species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

In [24]:
adelie_biscoe = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]

In [25]:
adelie_biscoe['body_mass_g']

20     3400.0
21     3600.0
22     3800.0
23     3950.0
24     3800.0
25     3800.0
26     3550.0
27     3200.0
28     3150.0
29     3950.0
50     3500.0
51     4300.0
52     3450.0
53     4050.0
54     2900.0
55     3700.0
56     3550.0
57     3800.0
58     2850.0
59     3750.0
60     3150.0
61     4400.0
62     3600.0
63     4050.0
64     2850.0
65     3950.0
66     3350.0
67     4100.0
100    3725.0
101    4725.0
102    3075.0
103    4250.0
104    2925.0
105    3550.0
106    3750.0
107    3900.0
108    3175.0
109    4775.0
110    3825.0
111    4600.0
112    3200.0
113    4275.0
114    3900.0
115    4075.0
Name: body_mass_g, dtype: float64

In [26]:
adelie_biscoe['body_mass_g'].mean()

np.float64(3709.659090909091)

In [27]:
np.round(adelie_biscoe['body_mass_g'].mean(), 1)

np.float64(3709.7)

In [28]:
adelie_dream = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')]

In [29]:
adelie_dream['body_mass_g'].mean()

np.float64(3688.3928571428573)

In [30]:
np.round(adelie_dream['body_mass_g'].mean(), 1)

np.float64(3688.4)

In [31]:
adelie_torg= birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')]

In [32]:
adelie_torg['body_mass_g'].mean()

np.float64(3706.372549019608)

In [33]:
np.round(adelie_torg['body_mass_g'].mean(), 1)

np.float64(3706.4)

In [34]:
gentoo_biscoe=[(birds['species'] == 'Gentoo') & (birds['island'] == 'Biscoe')]

In [35]:
adelie_biscoe= birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]

In [36]:
birds['wkilo'] = np.round(birds['body_mass_g']/1000,1)

In [37]:
birds

,rowid,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,wkilo
0,1,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3.8
1,2,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3.8
2,3,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3.2
3,4,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007,NaN
4,5,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3.4
...,...,...,...,...,...,...,...,...,...,...
339,340,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4.0
340,341,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3.4
341,342,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3.8
342,343,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4.1
343,344,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3.8

In [38]:
birds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   rowid              344 non-null    category
 1   species            344 non-null    object
 2   island             344 non-null    object
 3   bill_length_mm     342 non-null    float64
 4   bill_depth_mm      342 non-null    float64
 5   flipper_length_mm  342 non-null    float64
 6   body_mass_g        342 non-null    float64
 7   sex                333 non-null    object
 8   year               344 non-null    int64
 9   wkilo              342 non-null    float64
dtypes: category(1), float64(5), int64(1), object(3)
memory usage: 35.8+ KB

In [39]:
birds['wkilo'].mean()

np.float64(4.202046783625731)

In [40]:
adelie_dream = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Dream')]

In [41]:
adelie_dream['wkilo'].mean()

np.float64(3.6910714285714286)

In [42]:
np.round(adelie_dream['wkilo'].mean() , 1)

np.float64(3.7)

In [43]:
adelie_torg= birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Torgersen')]

In [44]:
adelie_torg['wkilo'].mean()

np.float64(3.7019607843137257)

In [45]:
np.round(adelie_torg['wkilo'].mean(),1)

np.float64(3.7)

In [46]:
adelie_biscoe = birds[(birds['species'] == 'Adelie') & (birds['island'] == 'Biscoe')]

In [47]:
adelie_biscoe['wkilo'].mean()

np.float64(3.715909090909091)

In [48]:
np.round(adelie_biscoe['wkilo'].mean(),1)

np.float64(3.7)

In [49]:
birds_agg = birds.groupby(['species', 'island' , 'sex']).count()

In [50]:
birds_agg

                            rowid  bill_length_mm  bill_depth_mm  \
species   island    sex
Adelie    Biscoe    female     22              22             22
                    male       22              22             22
          Dream     female     27              27             27
                    male       28              28             28
          Torgersen female     24              24             24
                    male       23              23             23
Chinstrap Dream     female     34              34             34
                    male       34              34             34
Gentoo    Biscoe    female     58              58             58
                    male       61              61             61

                            flipper_length_mm  body_mass_g  year  wkilo
species   island    sex
Adelie    Biscoe    female                 22           22    22     22
                    male                   22           22    22     22
          Dream     female                 27           27    27     27
                    male                   28           28    28     28
          Torgersen female                 24           24    24     24
                    male                   23           23    23     23
Chinstrap Dream     female                 34           34    34     34
                    male                   34           34    34     34
Gentoo    Biscoe    female                 58           58    58     58
                    male                   61           61    61     61

In [51]:
birds_ar = birds.groupby(['species', 'year' , 'sex']).size()

In [52]:
birds_ar

species    year  sex
Adelie     2007  female    22
                 male      22
           2008  female    25
                 male      25
           2009  female    26
                 male      26
Chinstrap  2007  female    13
                 male      13
           2008  female     9
                 male       9
           2009  female    12
                 male      12
Gentoo     2007  female    16
                 male      17
           2008  female    22
                 male      23
           2009  female    20
                 male      21
dtype: int64

In [53]:
birds_ar.unstack()

sex             female  male
species   year
Adelie    2007      22    22
          2008      25    25
          2009      26    26
Chinstrap 2007      13    13
          2008       9     9
          2009      12    12
Gentoo    2007      16    17
          2008      22    23
          2009      20    21

<h1>Insight No. 8</h1>
<h3>The Highest number of male adelie penguins recorded was in year 2007</h3>

<h1>How to use grouby function</h1>
<ul>
<li>Name of the group variable</li>
<li>call the reference</li>
<li>columns ti combine</li>
<li> aggregate function</li>
</ul>

<h1> Question No.9</h1>

In [54]:
weight_sex = birds.groupby(['species','sex','wkilo']).size()

In [55]:
weight_sex

species  sex     wkilo
Adelie   female  2.8       2
                 2.9       4
                 3.0       6
                 3.1       2
                 3.2      12
                          ..
Gentoo   male    5.6      11
                 5.7       5
                 5.8       6
                 6.0       5
                 6.3       1
Length: 80, dtype: int64

In [56]:
weight_sex = np.round(birds.groupby(['species','sex',])['wkilo'].mean(),1)

In [57]:
weight_sex

species    sex
Adelie     female    3.4
           male      4.0
Chinstrap  female    3.5
           male      3.9
Gentoo     female    4.7
           male      5.5
Name: wkilo, dtype: float64

In [58]:
weight_sex.unstack()

sex        female  male
species
Adelie        3.4   4.0
Chinstrap     3.5   3.9
Gentoo        4.7   5.5

<h1>Question 10</h1>
<h3>What year has the highest recorded weight for male and female</h3>

In [59]:
weight_sex = np.round(birds.groupby(['species','sex','year'])['wkilo'].mean(),1)

In [60]:
weight_sex

species    sex     year
Adelie     female  2007    3.4
                   2008    3.4
                   2009    3.3
           male    2007    4.0
                   2008    4.1
                   2009    4.0
Chinstrap  female  2007    3.6
                   2008    3.5
                   2009    3.5
           male    2007    3.8
                   2008    4.1
                   2009    3.9
Gentoo     female  2007    4.6
                   2008    4.6
                   2009    4.8
           male    2007    5.5
                   2008    5.4
                   2009    5.5
Name: wkilo, dtype: float64

In [61]:
weight_sex.unstack()

year              2007  2008  2009
species   sex
Adelie    female   3.4   3.4   3.3
          male     4.0   4.1   4.0
Chinstrap female   3.6   3.5   3.5
          male     3.8   4.1   3.9
Gentoo    female   4.6   4.6   4.8
          male     5.5   5.4   5.5

<h1>Question 11</h1>
<h3>Correlation between bill lenght and bill depth</h3>

<h1> P VALUE in STATISTICS</h1>

<h1>anything above .5 means the two values has a string correlation</h1>
<h1>anything less than .5 meaning less or no correlation</h1>

<h1>Requirements for Correlation</h1>
<ul>
    <li>Naming the variable</li>
    <li>first column to test</li>
    <li>.corr Function</li>
    <li>second column to test</li>
    
</ul>

<h1>Statistical Treatment</h1>
<h1>Pandas Default - Pearson R Correlation</h1>
<h1>Used for measuring correlation between quantitive Data</h1>

In [62]:
birds.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year,wkilo
count,342.000000,342.000000,342.000000,342.000000,344.000000,342.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070,4.202047
std,5.459584,1.974793,14.061714,801.954536,0.818356,0.803089
min,32.100000,13.100000,172.000000,2700.000000,2007.000000,2.700000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000,3.600000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000,4.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000,4.800000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000,6.300000

<h1>There is no correlation between bill length and bill depth</h1>

In [63]:
b_lenght_depth = birds['bill_length_mm'].corr(birds['bill_depth_mm'])

In [64]:
b_lenght_depth

np.float64(-0.23505287035553257)

<h1>Insight 12</h1>
<h1>Correlation between bill length and flipper length</h1>
<h1>There is a correlation between bill length and flipper length</h1>

In [65]:
b_lenght_depth = birds['bill_length_mm'].corr(birds['flipper_length_mm'])

In [66]:
b_lenght_depth

np.float64(0.6561813407464278)

<h1>Insight 13</h1>
<h1>Correlation between body mass and flipper length</h1>
<h1>There is a correlation between body mass and flipper length</h1>

In [67]:
b_body_g = birds['body_mass_g'].corr(birds['flipper_length_mm'])

In [68]:
b_body_g

np.float64(0.8712017673060113)

<h1>Insight 14</h1>
<h1>Correlation between bill depth and body mass</h1>
<h1>There is no correlation between bill depth and body mass</h1>

In [69]:
b_lenght_depth = birds['bill_depth_mm'].corr(birds['body_mass_g'])

In [70]:
b_lenght_depth

np.float64(-0.47191562118606645)

<h1>Use of One Way Anova</h1>

In [71]:
pip install scipy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: scipy in c:\users\lab4-studentpc27\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (1.15.2)
Requirement already satisfied: numpy<2.5,>=1.23.5 in c:\users\lab4-studentpc27\appdata\local\packages\pythonsoftwarefoundation.python.3.13_qbz5n2kfra8p0\localcache\local-packages\python313\site-packages (from scipy) (2.2.2)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: C:\Users\LAB4-StudentPC27\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.13_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [72]:
from scipy.stats import f_oneway

<h1>testing  correlation between body mass and sex</h1>

In [73]:
birds[birds['sex'] == 'male']['body_mass_g']

0      3750.0
5      3650.0
7      4675.0
13     3800.0
14     4400.0
        ...
334    3800.0
336    3950.0
339    4000.0
341    3775.0
342    4100.0
Name: body_mass_g, Length: 168, dtype: float64

<h1>Insight 15: Correlation between sex and body mass</h1>

<h1>There is less correlation between sex and body mass</h1>

In [74]:
f_stats, p_value = f_oneway(birds[birds['sex'] == 'male']['body_mass_g'],birds[birds['sex'] == 'female']['body_mass_g'])
p_value

np.float64(4.897246751596225e-16)

<h1>Insight 16: Correlation between sex and body mass</h1>

<h1>There is no correlation between sex and body mass</h1>

In [75]:
f_stats, p_value = f_oneway(birds[birds['sex'] == 'male']['flipper_length_mm'],birds[birds['sex'] == 'female']['flipper_length_mm'])
p_value

np.float64(2.3910970925541695e-06)